:root {
	--main-blue: rgb(0, 204, 255)
}

body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	position: relative;
	top: 0;
	padding: 20px 1rem 20px 1rem;
	color: #fff;
	background-color: #000;
	display: grid;
	place-items: center;
	border-bottom: 3px solid rgb(0, 204, 255);
}

.intro-section {
	color: #fefefe;
	background-color: #181818;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 92%;
    margin: 0 4% 0 4%;
    border-radius: 3px;
}

h1 {
	font-size: 48px;
	font-weight: 700;
}

h2 {
	font-size: 32px;
	font-weight: 500;
}

p {
	font-size: 20px;
	font-weight: 400;
	font-weight: 450;
}

.highlighted {
	font-size: 25px;
	font-weight: 600;
}

.semi-hl {
	font-size: 22px;
	font-weight: 400;
}

.blue {
	font-size: inherit;
	font-weight: inherit;
	color: var(--main-blue);
}

.gray {
	font-size: inherit;
	font-weight: inherit;
	color: #808080;
}

.mega-title-blue {
	font-size: 64;
	color: #fefefe;
	background-color: var(--main-blue);
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mega-title-black {
	font-size: 64;
	color: #fefefe;
	background-color: #0a0a0a;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	display: block;
}

.cover img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

ion-icon {
	font-size: 39px;
}

.sell-btn {
	margin: 35px;
	padding: 0 35px 0 35px;
	border-style: none;
	border-radius: 50px;
	color: #fefefe;
	background-color: var(--main-blue);
	font-family: inherit;
}

.sell-btn span {
	display: inline-block;
	font-size: 42px;
	font-weight: 600;
	margin-top: 4px;
	margin-bottom: 8px;
}

.sell-btn small {
	display: block;
	margin-bottom: 12px;
}

.centered-grid {
    display: grid;
	place-items: center;
	justify-self: center;
	padding: 10px 20px 10px 20px;
}

.text-center {
	text-align: center;
}

.col-6 {
    display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 15px;
	margin: 10px;
	padding: 20px;
}

.col-6 .extra-gap {
	column-gap: 25px;
	padding-top: 50px;
	padding-bottom: 20px;
}

.el {
	display: grid;
	place-items: center;
	justify-self: center;
}

.underline-col {
	margin: 30px 30px 60px 30px;
	padding: 20px;
	border: 6px dashed #181818;
	color: #0a0a0a;
	background-color: #fefefe;
}

.faq {
	padding: 100px 30px 100px 30px;
	color: #fefefe;
	background-color: #0a0a0a;
}

.faq .panel {
	margin-bottom: 20px;
	padding: 15px 20px 15px 20px;
	color: #0a0a0a;
	background-color: #fefefe;
	border-radius: 5px;
	box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
	position: relative;
}

.faq .panel::after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	height: 100%;
	width: 6px;
	background: rgb(0, 204, 255);
}

.iconsBox {
	display: grid;
	grid-template-columns: 22% 78%;
	grid-template-rows: repeat(5, 20%);
	column-gap: 10px;
	padding: 0 35px 35px 0;
	border-top: 1px solid rgb(0, 204, 255);
	border-bottom: 1px solid rgb(0, 204, 255);
	border-radius: 7px;
	color: #fefefe;
	background-color: #0a0a0a;
}

.dark-title-section {
	padding: 25px 60px 25px 60px;
	color: #fefefe;
	background-color: #0a0a0a;
}

.cta-section {
	padding: 150px 60px 150px 60px;
	color: #fefefe;
	background-color: #0a0a0a;
}

/* Media Query for Small Mobile Devices */
@media (min-width: 300px) and (max-width: 479px) {
    .col-6 {
        grid-template-columns: 100%;
    }
	.underline-col {
        grid-template-columns: 100%;
		margin: 0 0 60px 0;
    }
	.sell-btn {
		margin: 15px;
		padding: 10px 20px 7px 20px;
	}
	.sell-btn span {
		font-size: 20px;
		font-weight: 700;
		margin-top: 2px;
		margin-bottom: 4px;
		display: inline;
	}
	.sell-btn small {
		display: block;
		margin-top: 5px;
	}
	.sell-btn ion-icon {
		font-size: 20px;
	}
	.iconsBox {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(12, 8.3%);
		padding: 0 5px 0 20px;
	}
}

/* Media Query for mobile (till 480 px) */
@media (min-width: 480px) and (max-width: 679px) {
    .col-6 {
        grid-template-columns: 100%;
    }
	.underline-col {
        grid-template-columns: 100%;
    }
	.iconsBox {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(12, 8.3%);
		padding: 10px;
		padding: 0 5px 0 20px;
	}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 680px) and (max-width: 780px) {
    .col-6 {
        grid-template-columns: 100%;
    }
	.underline-col {
        grid-template-columns: 100%;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 781px) and (max-width: 1024px) {
    .col-6 {
        grid-template-columns: 50% 50%;
    }
	.underline-col {
        grid-template-columns: 50% 50%;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .col-6 {
        grid-template-columns: 50% 50%;
    }
	.underline-col {
        grid-template-columns: 50% 50%;
    }
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .col-6 {
        grid-template-columns: 50% 50%;
    }
	.underline-col {
        grid-template-columns: 50% 50%;
    }
}